<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href ="<%= '/stylesheetwebsite.css' %>">
    <script defer src = "<%= '/scriptwebsite.js' %>"></script>

</head>
<body>
    <div class = "footer">
        <footer>
            <p><a href="/privacy" class = "statement">Privacy Disclaimer Statement</a></p>
        </footer>
    </div>
</body>
</html>