<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href ="<%= '/stylesheetwebsite.css' %>">
    <script defer src = "<%= '/scriptwebsite.js' %>"></script>

</head>
<body>
    <div class = "header">
            <table>
                <tr>
                    <th>Paws&Buddies</th>
                    <td>
                        <a href = "/"> 
                            <img src = "/images/logo_v03_alpha.png"
                            alt = "logo"
                            class = "logo">
                        </a>
                    </td>
                    <td style = "text-align: right; width: 150px;">
                        <p id = "dateTime"></p>
                    </td>
                </tr>
            </table>
    </div>
</body>
</html>