<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href ="<%= '/stylesheetwebsite.css' %>">
    <script defer src = "<%= '/scriptwebsite.js' %>"></script>

</head>
<body>
    <div class = "menu">
        <nav>
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/finddogcat">Find a dog/cat</a></li>
                <li><a href = "/havepetgiveaway">Have a pet to give away</a></li>
                <li><a href = "/createaccount">Create an Account</a></li>
                <li><a href = "/dogcare">Dog Care</a></li>
                <li><a href = "/catcare">Cat Care</a></li>
                <li><a href = "/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
